body {     
    position: absolute;
    top:0;
    bottom:100;
    left:0;
    right:0;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    margin: auto;
    text-align: left;
    font-color: #9d3521;
}

#shw {
  padding-top: 600px;

}

a:link {
   color:inherit;
}

a:link, a:visited {
  text-decoration: none;
  color: #9d3521;
}
a:hover {
  text-decoration: none;
  color: #9eaca9;
}

a:active {
  text-decoration: none;
  color: #9d3521;
}

h1 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 80px;
  display:inline;
}

h2 {
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  font-weight: 400;
  display:inline;
  white-space: nowrap;
}

h3 {
  font-family: 'Exo 2', sans-serif;
  font-size: 70px;
  color: #fefefe;
}

p {
  font-family: 'Exo 2', sans-serif;
  font-size: 12px;

}




.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 100px;
  grid-gap: 0px;


}

.box {
  padding: 100px;
}
